.settings-page {
  padding: 30px;
  background-color: bisque;
  min-height: 100vh;
}

.settings-page h1 {
  margin-bottom: 25px;
}

.settings-card {
  width: 500px;
  background-color: #f1f5f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.settings-card h2 {
  margin-bottom: 15px;
}

.settings-card input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.settings-card button {
  padding: 10px 18px;
  border: none;
  border-radius: 5px;
  background-color: #1e293b;
  color: white;
  cursor: pointer;
}

.settings-card button:hover {
  background-color: #334155;
}

@media (max-width: 600px) {

  .settings-page {
    padding: 20px 15px;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .settings-page h1 {
    font-size: 25px;
  }

  .settings-card {
    width: 100%;
    box-sizing: border-box;
    padding: 18px;
    margin-bottom: 18px;
  }

  .settings-card h2 {
    font-size: 20px;
  }

  .settings-card input {
    width: 100%;
    box-sizing: border-box;
  }

  .settings-card button {
    width: 100%;
  }
}